@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@font-face {
  font-family: Sterion;
  src: url(/fonts/Sterion-BLLld.ttf);
}
@font-face {
  font-family: SpaceGames;
  src: url(/fonts/SpaceGames-K7zKD.otf);
}
@font-face {
  font-family: Fussion;
  src: url(/fonts/Fussion-3zgAz.ttf);
}
@font-face {
  font-family: Electrolize;
  src: url(/fonts/Electrolize-Regular.ttf);
}
.container2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0%;
  background-color:rgb(16, 57, 139);
}
.navbar {
  display: flex;
  background-color:rgb(0, 30, 89);
  justify-content:space-between;
  align-items: center;
  padding: 5px 5px;
  z-index: 3;
}
.navbarLeft {
  display: flex;
  z-index: 4;
}
.navbarRight {
  display: flex;
  z-index: 4;
}
.genericButton{  
  font-family: 'Orbitron';
  font-size: 15px;
  width: 100px;
  color: rgb(228, 243, 255);
  background-color: rgb(0, 30, 89);
  border: 1px solid rgb(228, 243, 255);
  border-radius:5px;
  top: 0%;
  cursor:pointer;
}

/* LOGIN/SIGNUP */


.txtLoginSignup {
  font-family: Sterion;
  font-size: clamp(50px,5vw,60px);
  color: rgb(146, 186, 255);
  padding:5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  z-index: 2;
}
.txtLoginSignupError{  
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  display:flex;
  justify-content: center;
  color: rgb(167, 199, 255);
  margin-right: 10px;
  margin-top: 0px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:20px;
  padding:10px;
}
.containerLoginSignup {
  height:50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionLoginSignup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  border-radius: 20px;
  background-color: rgb(228, 243, 255);
  padding: 15px;
  margin: auto; /* Ensures it's centered */
}
.sectionLoginSignuptxt{
  position: relative;
  height: clamp(0px,150px);
  width:100vw;
  background-image: linear-gradient(rgb(0, 30, 89),rgba(0, 0, 0, 0));
  /* background-color: rgb(16, 57, 139); */
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
.loginSignupImageContainer1{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0%;
  background-image: url("/images/login.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: 50%;
  background-color:rgb(16, 57, 139);
}
.loginSignupImageContainer2{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0%;
  background-image: url("/images/signup.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: 50%;
  background-color:rgb(16, 57, 139);
}



.txtDashboredMainTitle1{  
  font-family: Sterion;
  font-size: clamp(0px,10vw,100px);
  color: rgb(146, 186, 255);
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.txtDashboredMainTitle2, .txtDashboredMainTitle3, .txtDashboredMainTitle4, .txtDashboredMainTitle5, .txtDashboredMainTitle6{  
  font-family: Sterion;
  font-size: clamp(0px,10vw,100px);
  color: rgb(146, 186, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.sectionDashboredwtb {
  position: relative;
  height: clamp(0px,150px);
  width:100vw;
  background-image: linear-gradient(rgb(0, 30, 89),rgb(16, 57, 139));
  /* background-color: rgb(16, 57, 139); */
  padding: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
.sectionDashboredCardBlock{
  width:100vw;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(228, 243, 255);
  padding: 5px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.sectionDashboredTypingBlock{
  width:100vw;
  background-color: rgb(228, 243, 255);
  padding: 5px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.sectionDashboredBulletinBlock{
  width:100vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(228, 243, 255);
  padding: 5px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.txtPostName{  
  font-family: Fussion;
  font-size: 20px;
  align-items: center;
  display:flex;
  justify-content: center;
  color: rgb(16, 57, 139);
}
.txt1Post{  
  font-family: Electrolize;
  font-size: 15px;
  color: rgb(8, 87, 223);
  padding:10px;
  margin-left: 0px;
  margin-top: 0px;
}
.txtPostTime{  
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  display:flex;
  justify-content: right;
  color: rgb(167, 199, 255);
  margin-right: 10px;
  margin-top: 0px;
}
.dashBoredImg1 {
  height: clamp(0px,10vw,107px);
  margin-left: 0px;
  margin:0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.aboveCards{
  display:flex;
  justify-content: space-between;
  font-family: Orbitron;
  font-size: 15px;
  margin-bottom: 10px;
  color: rgb(16, 57, 139);
  background-color: rgb(228, 243, 255);
  transition: transform 0.3s ease-out;
}
/* .sortOptions{} */
.sorter{
  font-family: Orbitron;
  color: rgb(16, 57, 139);
}

.cardButton{
  font-family: Orbitron;
  font-size: 17px;
  margin-bottom: 10px;
  height: 30px;
  color: rgb(16, 57, 139);
  background-color: rgb(228, 243, 255);
  border: 1px solid rgb(16, 57, 139);
  transition: transform 0.3s ease-out;
  border-radius:10px;
}
.cardButton:hover{
  transform:scale(1.1);
}
.cardButtonWrapper{
  display:flex;
  justify-content: center;
}
.cardImageContainer{
  width:100vw;
  display:flex;
  justify-content: left;
  flex-wrap: wrap;
}

/* Typing Game start */

.typingcontainer{
  width:100vw;
  margin:0px;
  padding:30px;
  position:relative;
  display:inline-block;
  background-color: rgb(228, 243, 255);
}
.test {
  user-select:none;
}
input.typinginput{
  width:100%;
  height:inherit;
  z-index: 1;
  position: relative;
}
span {
  font-family: Electrolize;
  color: rgb(16, 57, 139);
  font-size: 20px;
  user-select: none;
  cursor:text;
}
span.active {
  border-left: 2px solid rgb(8, 87, 223);
}
span.correct {
  color: rgb(0, 62, 88);
  background-color:  rgb(125, 214, 206);
}
span.wrong {
  color: rgb(106, 0, 0);
  background-color: rgb(224, 123, 247);;
}
.stats {
  font-family: Electrolize;
  color: rgb(16, 57, 139);
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.typingResetButton{
  font-family: Electrolize;
  font-size: 15px;
  color: rgb(8, 87, 223);
  background-color: rgb(228, 243, 255);
  border: 1px solid rgb(16, 57, 139);
  border-radius: 10px;
  margin-left: 0px;
  margin-top: 0px;
  cursor:pointer;
  z-index: 3;
}



/* Typing Game end */

.cardWrapper{
  height:19.3vw;
  margin: 1px;
  position:relative;
  transition: transform 0.3s ease-out;
}
@media (max-width: 768px) {
  .cardWrapper {
    height:31.5vw;
    width: 31.5vw;
  }
}
.cardWrapper:hover{
  transform: translateY(-7px);
}
.card{
  height:19.3vw;
  border: 1px solid rgb(16, 57, 139);
  border-radius:10px;
}
@media (max-width: 768px) {
  .card {
    height: 31.5vw;
    width: 31.5vw;
  }
}
.cardCount{
  bottom:0px;
  right:0px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-family: 'Orbitron', sans-serif;
  font-size: 10px;
  display:flex;
  position:absolute;
  justify-content: right;
  color: rgb(16, 57, 139);
}
/* end */
