@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@font-face {
  font-family: Sterion;
  src: url(/fonts/Sterion-BLLld.ttf);
}
@font-face {
  font-family: SpaceGames;
  src: url(/fonts/SpaceGames-K7zKD.otf);
}
@font-face {
  font-family: Fussion;
  src: url(/fonts/Fussion-3zgAz.ttf);
}
@font-face {
  font-family: Electrolize;
  src: url(/fonts/Electrolize-Regular.ttf);
}
.container2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0%;
  background-color:rgb(16, 57, 139);
}
.backButton{  
  font-family: Electrolize;
  font-size: 15px;
  position:absolute;
  color: rgb(8, 87, 223);
  background-color: rgb(228, 243, 255);
  border: 1px solid rgb(16, 57, 139);
  border-radius: 10px;
  margin-left: 0px;
  margin-top: 0px;
  cursor:pointer;
  z-index: 3;
}
.txtDashboredMainTitle1{  
  font-family: Sterion;
  font-size: clamp(0px,10vw,100px);
  color: rgb(146, 186, 255);
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.txtDashboredMainTitle2, .txtDashboredMainTitle3, .txtDashboredMainTitle4, .txtDashboredMainTitle5, .txtDashboredMainTitle6{  
  font-family: Sterion;
  font-size: clamp(0px,10vw,100px);
  color: rgb(146, 186, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.sectionDashboredwtb {
  position: relative;
  height: clamp(0px,150px);
  width:100vw;
  background-image: linear-gradient(rgb(0, 30, 89),rgb(16, 57, 139));
  /* background-color: rgb(16, 57, 139); */
  padding: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
.sectionDashboredCardBlock{
  width:100vw;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(228, 243, 255);
  padding: 5px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.sectionDashboredBulletinBlock{
  width:100vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(228, 243, 255);
  padding: 5px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.txtPostName{  
  font-family: Fussion;
  font-size: 20px;
  align-items: center;
  display:flex;
  justify-content: center;
  color: rgb(16, 57, 139);
}
.txt1Post{  
  font-family: Electrolize;
  font-size: 15px;
  color: rgb(8, 87, 223);
  padding:10px;
  margin-left: 0px;
  margin-top: 0px;
}
.txtPostTime{  
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  display:flex;
  justify-content: right;
  color: rgb(167, 199, 255);
  margin-right: 10px;
  margin-top: 0px;
}
.dashBoredImg1 {
  height: clamp(0px,10vw,107px);
  margin-left: 0px;
  margin:0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.cardButton{
  font-family: Orbitron;
  font-size: 17px;
  margin-bottom: 10px;
  height: 30px;
  color: rgb(16, 57, 139);
  background-color: rgb(228, 243, 255);
  border: 1px solid rgb(16, 57, 139);
  transition: transform 0.3s ease-out;
  border-radius:10px;
}
.cardButton:hover{
  transform:scale(1.1);
}
.cardButtonWrapper{
  display:flex;
  justify-content: center;
}
.cardImageContainer{
  width:100vw;
  display:flex;
  justify-content: left;
  flex-wrap: wrap;
}
.cardWrapper{
  height:19.3vw;
  margin: 1px;
  position:relative;
  transition: transform 0.3s ease-out;
}
.cardWrapper:hover{
  transform: translateY(-7px);
}
.card{
  height:19.3vw;
  border: 1px solid rgb(16, 57, 139);
  border-radius:10px;
}
.cardCount{
  bottom:0px;
  right:0px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-family: 'Orbitron', sans-serif;
  font-size: 10px;
  display:flex;
  position:absolute;
  justify-content: right;
  color: rgb(16, 57, 139);
}
/* end */
