@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@font-face {
  font-family: Sterion;
  src: url(/fonts/Sterion-BLLld.ttf);
}
@font-face {
  font-family: SpaceGames;
  src: url(/fonts/SpaceGames-K7zKD.otf);
}
@font-face {
  font-family: Fussion;
  src: url(/fonts/Fussion-3zgAz.ttf);
}
html body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
*, *::before, *::after {
  box-sizing: inherit;
}
canvas {
  z-index: 0;
}
hr {
  display: block;
  height: 5px;
  width: 99vw;
  border-top: 1px solid rgb(82, 125, 155);
  
}
#root {
  align-items: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0%;
  background-color:rgb(11, 23, 48);
}
.horizontalTextMap{
  display: flex;
}
.img1{
  height: 50px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.img2, .img3{
  height: clamp(40px, 7vw, 90px);
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
}
.planewrapper {
  width: 100vw;
  height: 110vh;
  position: absolute;  
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.plane1 {
  height: 110vh;
  width: 100vw;
  position: absolute;
  display: flex;
}
.plane2, .plane3 {
  height: 110vh;
  position: absolute;
  display: flex;
  overflow-y: visible;
}
.proj1wrapper {
  width: 100vw;
  height: 55vh;
  margin-left: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.proj1content {
  width: 40vw;
  height: 50vh;
  font-family: 'Orbitron', sans-serif;
  font-size: clamp(15px, 4vw, 20px);
  color: rgb(146, 186, 255);
  justify-content: left;
  align-items: left;
  top: 0%;
}
/* Hovered video class template, reusable for each project */
.proj1videowrapper {
  width: clamp(40px, 55vw, 100vh);
  height: 50vh;
  right: 0;
  border-radius: 20px;
  position: absolute;  
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.proj1video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; 
  top: 0;
  left: 0;
}

/* Header template, made for pseudo scramble text animation */
.projheaderwrapper {
  height: clamp(18px,4vw,40px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.projheader {
  font-family: 'SpaceGames', sans-serif;
  font-size: clamp(18px,4vw,40px);
  color: rgb(228, 243, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
}
.w {
  height: 110vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sectioncover1, .sectioncover2, .sectioncover3, .sectioncover4 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0%;
  background-color:rgb(228, 243, 255);
  position: absolute;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}
.sectionb {
  height: 60px;
  width:100vw;
  background-color:rgb(228, 243, 255);
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 2;
}
.sectionb2 {
  height: 55vh;
  width:100vw;
  background-color: rgb(0, 30, 89);
  padding: 5px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.section {
  width: 100%;
  height: 110vh;
  width:100vw;
}
.sectionscroll {
  height: 30px;
  width:100vw;
  position: absolute;
  top: 0;
  z-index: 2;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionwheader {
  height: 20px;
  width:100vw;
  background-color: rgb(228, 243, 255);
  border-top-left-radius: 20px;
  position: absolute;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
  z-index: 2;
}
.sectionwMainTitle1{
  height: 55px;
  width:100vw;
  background-color: rgb(228, 243, 255);
  padding: 5px;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.sectionwMainTitle2 {
  height: 110px;
  width:100vw;
  background-color: rgb(228, 243, 255);
  padding: 5px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.sectionwtb {
  height: 110vh;
  width:100vw;
  background-color: rgb(16, 57, 139);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}
.sectionicons {
  height: 110px;
  width:100vw;
  background-color: rgb(0, 30, 89);
  padding: 5px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.starCanvas {
  position: absolute;
}
.text {
  line-height: 1em;
  text-align: left;
  font-size: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.txt1{  
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  color: rgb(16, 57, 139);
  margin-left: 10px;
  margin-top: 0px;
}
.txt1scroll{  
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  color: rgb(228, 243, 255);
  margin-left: 10px;
  margin-top: 5px;
  top: 0%;
}
.txtMainTitle1{  
  font-family: Sterion;
  font-size: 50px;
  color: rgb(146, 186, 255);
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.txtMainTitle2{  
  font-family: Sterion;
  font-size: 45px;
  font-size: clamp(40px, 7vw, 90px);
  color: rgb(146, 186, 255);
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.txtspace{  
  font-family: Fussion;
  font-size: 20px;
  color: rgb(228, 243, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20vh;
}
.txticons{  
  font-family: Sterion;
  font-size: 45px;
  font-size: clamp(40px, 7vw, 90px);
  color: rgb(146, 186, 255);
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.txtScrub1{  
  font-family: SpaceGames;
  font-size: 90px;
  height: 130%;
  color: rgb(228, 243, 255);
  display: flex;
  white-space: nowrap;
  margin: 0;
  justify-content: LEFT;
  align-items: center;
}
.word {
  display: inline-flex;
  margin-right: 5px;
}

