@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@font-face {
  font-family: SFPro;
  src: url(/fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: SFProThin;
  src: url(/fonts/SF-Pro-Display-Light.otf);
}
.calcmenucontainer{
  height: 5.5vh;
  font-family: SFPro;
  color: rgb(141, 141, 147);
  font-size: 30px;
}
.calcmenuimage{
  width:12vw;
}
.calcimage{
  width:20vw;
}

/* number displays*/
.calccontainer1{
  text-align: end;
  padding-right: 6%;
  height: 5vh;
  font-family: SFPro;
  color: rgb(141, 141, 147);
  font-size: 40px;
}
.calccontainer2{
  text-align: end;
  padding-right: 6%;
  height: 11vh;
  font-family: SFPro;
  color: rgb(255, 255, 255);
  font-size: 95px;
}


.calccontainer3{
  font-size: 30px;
  font-family: SFPro;
  color: white;
}
.calccontainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: .5%;
  background-color:#000000;
}
.calc-row {
  display: flex;
}
.greycalcbuttons{

  position:relative;
  width: 22vw;
  height: 22vw;
  margin: 6px;
  border-radius: 100%;
  background-color: rgb(92, 92, 95);
  border:None;
}
.darkgreycalcbuttons {
  font-family: SFProThin;
  color: white;
  font-size: 50px;

  width: 22vw;
  height: 22vw;
  margin: 6px;
  border-radius: 50%;
  background-color: rgb(42, 42, 44);
  border: none;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.orangecalcbuttons{
  position:relative;
  width: 22vw;
  height: 22vw;
  margin: 6px;
  border-radius: 100%;
  background-color: rgb(255, 159, 10);
  border:None;
}